@page "/polly-blazor-demo"
@inject Services.DemoService DemoClient

<h1>Board Message</h1>
<p>The system is trying the call for N times before reverting to the fallback value. Everything is logged so open your browser console to see how the flow works. </p>

<button class="btn btn-primary" @onclick="OnLoadMessages">Load Messages</button>
<br />
<hr />
@if (loading)
{
    <p><em>Loading...</em></p>
}
else if (null == messages || !messages.Any())
{
    <p><strong>No data available at the moment. Please try to reload messages.</strong></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Title</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var message in messages)
            {
                <tr>
                    <td>@message.Date.ToShortDateString()</td>
                    <td>@message.Title</td>
                    <td>@message.Message</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<DTO.BoardMessageDTO> messages;
    private bool loading = false;

    private async Task OnLoadMessages(MouseEventArgs e) => await FetchMessagesAsync();

    private async Task FetchMessagesAsync()
    {
        loading = true;
        messages = await DemoClient.GetMessages();
        loading = false;
    }
}
