@page "/polly-api-demo"
@inject Services.DemoService DemoClient

<h1>Board Message</h1>
<p>
    You're calling and endpoint that returns some messages. Each message perform an external call in order to retrieve the content and inject in the Message object.<br />
    Polly is responsible for handling any errors found in retrieving data from the external endpoint
</p>

<button class="btn btn-primary" @onclick="OnLoadMessages">Load Messages</button>
<br />
<hr />
@if (loading)
{
    <p><em>Loading...</em></p>
}
else if (null == messages || !messages.Any())
{
    <p><strong>No data available at the moment. Please try again later.</strong></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Title</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var message in messages)
            {
                <tr>
                    <td>@message.Date.ToShortDateString()</td>
                    <td>@message.Title</td>
                    <td>@message.Message</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<DTO.BoardMessageDTO> messages;
    private bool loading = false;

    private async Task OnLoadMessages(MouseEventArgs e) => await FetchMessagesAsync();

    private async Task FetchMessagesAsync()
    {
        loading = true;
        messages = await DemoClient.GetMessageFromAnotherService();
        loading = false;
    }
}
